* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    min-width: 950px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* * box sx */

/*! header sx */
.box-left {
    display: flex;
    flex-direction: column;
}
.header-sx {
    width: 400px;
    height: 80px;
    flex-shrink: 0;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sx .avatar-io {
    padding-left: 10px;
}

.header-sx .avatar-io img{
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.header-sx .icone-header {
    font-size: 20px;
    color: grey;
    padding-right: 10px;
}

.header-sx .icone-header i {
    padding-left: 10px;
    cursor: pointer;
}

.header-sx .icone-header i:first-child {
    color: black;
}


/* ! notifiche */
.notifiche {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.notifiche .icona-notifiche i {
    font-size: 25px;
    color: skyblue;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
}

.notifiche .testo {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.notifiche .testo small {
    text-decoration: underline;
    cursor: pointer;
}


/* ! search bar */
.search-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar input {
    width: 95%;
    height: 60%;
    padding-left: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-bar i {
    color: grey;
    cursor: pointer;
    position: absolute;
    left: 20px;
}


/* ! contatti */
.box-contatti {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.box-contatti img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.box-contatti .contatto {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    position: relative;
}

.box-contatti .contatto small {
    color: grey;
    position: absolute;
    bottom: 10%;
    left: 17%;
}

.box-contatti .contatto small:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box-contatti .contatto small:last-child{
    bottom: 10%;
    left: 60%;
}
/* * box dx */

/* ! header dx */
.box-rigth{
    display: flex;
    flex-direction: column;
}

.header-dx {
    width: 800px;
    height: 80px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.header-dx .avatar-contatto {
    display: flex;
    padding-left: 10px;
}

.header-dx .avatar-contatto img {
    width: 60px;
    border-radius: 50%;
}

.header-dx .avatar-contatto .dati-contatto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.header-dx .avatar-contatto .dati-contatto small {
    color: grey;
}

.header-dx .icone-contatto {
    padding-right: 10px;
}
.header-dx .icone-contatto i {
    padding-left: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}


/* ! finestra chat */
.box-finestra-chat {
    width: 100%;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.box-finestra-chat .finestra .messaggio {
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 10px 0;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: break-all;
    position: relative;
}

.box-finestra-chat .finestra .messaggio small {
    align-self: flex-end;
    margin-top: 5px;
    color: gray;
}

.box-finestra-chat .finestra .messaggio small i {
    cursor: pointer;
    opacity: 0;
}

.box-finestra-chat .finestra .messaggio:hover small i {
    opacity: 1;
}

.box-finestra-chat .finestra .messaggio .dropdown-menu {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    top: 35px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

.box-finestra-chat .finestra .messaggio .dropdown-menu p:hover {
    cursor: pointer;
    color: red;
}

.box-finestra-chat .finestra .inviato {
    background-color: rgb(103, 212, 103);
    float: right;
    clear: both;
}

.box-finestra-chat .finestra .ricevuto {
    background-color: white;
    float: left;
    clear: both;
}


/* ! barra di scrittura mex */
.barra-scrittura {
    position: sticky;
    bottom: 0;
}

.barra-scrittura .campo-testo {
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra-scrittura input {
    width: 80%;
    padding: 10px;
}

.barra-scrittura i {
    color: grey;
    font-size: 30px;
    cursor: pointer;
}

/* dark mode */
.scuro {
    background-color: black;
    color: #fff;
    border: 1px solid grey;
}

.chiaro {
    background-color: #eeeeee;
}

.chiaro .contatto:hover {
    background-color: #fff;
}

.scuro .contatto:hover {
    background-color: rgb(34, 131, 34);
}

.header-sx.scuro .icone-header i:first-child{
    color: #fff;
}

/* ricerca */
.hidden {
    display: none;
}

.show {
    display: block;
}