* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* * box sx */
.header-sx {
    width: 500px;
    height: 80px;
    background-color: lightgrey;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sx .avatar-io {
    padding-left: 10px;
}

.header-sx .avatar-io img{
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.header-sx .icone-header {
    font-size: 20px;
    color: grey;
    padding-right: 10px;
}

.header-sx .icone-header i {
    padding-left: 10px;
}


.notifiche {
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.notifiche .icona-notifiche i {
    font-size: 25px;
    color: skyblue;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px 0;
}

.notifiche .testo {
    display: flex;
    flex-direction: column;
}

.notifiche .testo small {
    text-decoration: underline;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar input {
    width: 90%;
    height: 60%;
    padding-left: 10px;
    padding: 5px;
    margin: 10px 0;
}

.search-bar i {
    color: grey;
}

.box-contatti {
    width: 100%;
    height: 500px;
    background-color: #fff;
    overflow-y: auto;
}


/* * box dx */
.header-dx {
    width: 800px;
    height: 80px;
    background-color: lightgrey;
    border: 1px solid grey;
}

.box-finestra-chat {
    width: 100%;
    height: 550px;
    background-color: grey;
}

.box-finestra-chat .finestra {
    overflow-y: auto;
}

.barra-scrittura {
    width: 100%;
    height: 90px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra-scrittura input {
    width: 80%;
    height: 50%;
}

.barra-scrittura i {
    color: grey;
    font-size: 30px;
}

