<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvenuti su Boolzap Web</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

    <!-- * container -->
    <div id="root"  class="container">

        <!-- * contenitore sinistra -->
        <div class="box-left">
            <!-- * header sx -->
            <div class="header-sx" :class="(dark ? 'scuro' : 'chiaro' )">
                <div class="avatar-io">
                    <img src="img/avatar_io.jpg" alt="avatar-io">
                    <span>Ilaria Mammucari</span>
                </div>

                <div class="icone-header">
                    <i @click="darkMode" class="fas fa-circle-notch" title="dark mode"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- * /header sx -->

            <!-- * notifiche -->
            <div class="notifiche">
                <div class="icona-notifiche">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="testo">
                    <span>Ricevi notifiche di nuovi messaggi
                    </span>
                    <small>Attiva notifiche desktop</small>
                </div>
            </div>
            <!-- * /notifiche -->

            <!-- * search bar -->
            <div class="search-bar" :class="(dark ? 'scuro' : 'chiaro' )">
                <i @click="ricerca" class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat..." v-model="valoreInput" @keyup="ricerca">
            </div>
            <!-- * /search bar -->

            <!-- * box contatti -->
            <div class="box-contatti" :class="(dark ? 'scuro' : 'chiaro' )">
                <div  v-for="(utente,index) in utenti" class="contatto" @click="chatDinamica(index)" :class="(utente.visibile) ? 'show' : 'hidden'">
                    <img :src="utente.avatar" alt="avatar">
                    {{ utente.nome }}
                    <small>{{ utente.messaggio[utente.messaggio.length -1].testo + ' ' + utente.messaggio[utente.messaggio.length -1].data}}</small>
                </div>
            </div>
            <!-- * /box contatti -->
        </div>
        <!-- * /contenitore sinistra -->

        <!-- * contenitore destra -->
        <div class="box-rigth">

            <!-- *header dx -->
            <div class="header-dx" :class="(dark ? 'scuro' : 'chiaro' )">
                <div class="avatar-contatto">
                    <img :src="utenti[contatoreUtente].avatar" alt="avatar-contatto">
                    <div class="dati-contatto">
                        {{ utenti[contatoreUtente].nome }}
                        <small>{{ utenti[contatoreUtente].messaggio[utenti[contatoreUtente].messaggio.length -1].data }}</small>
                    </div>
                </div>
                <div class="icone-contatto">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- * /header dx   -->

            <!-- * finestra chat dx -->
            <div class="box-finestra-chat">
                <div class="finestra">
                    <div v-for="(mex,index) in utenti[contatoreUtente].messaggio" class="messaggio" :class="(mex.stato == 'ricevuto') ? 'ricevuto' : 'inviato'">
                        {{ mex.testo }}
                        <small>{{ mex.data }}</small>
                    </div>
                </div>
            </div>
            <!-- * /finestra chat dx -->
            
            <!-- * barra di scrittura -->
            <div class="barra-scrittura">
                <div class="campo-testo" :class="(dark ? 'scuro' : 'chiaro' )">

                    <i class="far fa-smile"></i>
    
                    <input  type="text" placeholder="Scrivi messaggio..." v-model="testoInput" @keydown.13="inserimentoInput">
    
    
                    <i class="fas fa-microphone"></i>
                </div>

            </div>
            <!-- * /barra di scrittura -->
        </div>
        <!-- * /contenitore destra -->
    </div>
    <!-- * /container -->

    <script src="vue/script.js"></script>
</body>
</html>